@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

/* body, html{
    width: 99%;
    max-width: 99%;
    margin: auto;
}

#root{
    width: 100%;
    max-width: 100%;
} */

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 18px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ADD8E6;
    border-radius: 18px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: 	#0000FF;
}